<!doctype html>
<html>
<head>
  <meta http-equiv="content-type" content="text/html;charset=utf-8">
  <title>视频</title>
  <link rel="stylesheet" href="/stylesheets/vadeo.css">
  <script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
</head>
<body>
<a href="/video" target="_blank"><img src="/mov.png" width="180" height="205"></a>
</body>

</html>