<!doctype html>
<html>
<head>
  <meta http-equiv="content-type" content="text/html;charset=utf-8">
  <script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
  <title>客服记录列表</title>
</head>
<style>
  .content{
    margin: 10px;
    width: 70px;
    height: 100px;
    float: left;
  }
  .file-text{
    margin-bottom: 20px;
  }
</style>
<body>
<div class="content file" data-file="${file}" for(file in data.fileArr) ondblclick="location.href=`/note/?fileName=${file}`">
  <img src="/images/icon/folder.png" alt="" width="70" height="70">
  <div class="file-text">${file}</div>
</div>
<div class="content">
  <img class="add-folder" src="/images/icon/add-folder.png" alt="" width="70" height="70">
</div>
</body>
<script type="text/javascript">
  //新建记录
  $('.add-folder').click(function () {
    location.href = "/note/";
  });
</script>
</html>