<!doctype html>
<html>
<head>
  <meta http-equiv="content-type" content="text/html;charset=utf-8">
  <title>记事本</title>
  <script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
</head>
<style>
  input{
    width: 100%;
    border-style: none;
    outline:none
  }
</style>
<body>
<table border="1">
  <tr>
    <th>访客ID</th>
    <th>访客姓名</th>
    <th>联系方式</th>
    <th>客服渠道</th>
    <th>反馈问题</th>
    <th>问题描述</th>
    <th>解决方案</th>
    <th>进展</th>
    <th>备注</th>
    <th>提交时间</th>
    <th>操作</th>
  </tr>
  <tr for(note in data.noteList)>
    <td>${note.id}</td>
    <td contentEditable="true">${note.name}</td>
    <td>${note.phone}</td>
    <td>${note.channel}</td>
    <td>${note.question}</td>
    <td>${note.description}</td>
    <td>${note.answer}</td>
    <td>${note.progress}</td>
    <td>${note.kfName}</td>
    <td>${note.time}</td>
    <td>
      <button>修改</button>
    </td>
  </tr>
  <tr>
    <form onsubmit="return false">
      <td><input type="text" name="id" value="${data.noteList.length + 1}" disabled></td>
      <td><input type="text" name="name" value=""></td>
      <td><input type="text" name="phone" value=""></td>
      <td><select style="width: 100px;" id="channel">
        <option value="微信">微信</option>
        <option value="电话">电话</option>
        <option value="qq">qq</option>
      </select></td>
      <td><input type="text" name="question" value=""></td>
      <td><input type="text" name="description" value=""></td>
      <td><input type="text" name="answer" value=""></td>
      <td><input type="text" name="progress" value=""></td>
      <td><input type="text" name="kfName" value=""></td>
      <td><input type="text" name="time" value="默认当前时间" disabled></td>
      <td>
        <button id="save">保存</button>
      </td>
    </form>
  </tr>
</table>
<!--<a href="/20170907.txt" download="20170907.txt">下载</a>-->
<button id="exportExcel">下载</button>
</body>
<script type="text/javascript">

  //下载文件
  $("#exportExcel").click(function(){
    console.info("exportExcel");
    var url =  "/note/download";
    console.info(url);
    window.location = url;//这里不能使用get方法跳转，否则下载不成功

  });

  //验证提交数据
  function validate(data) {
    var len = 7;
    if (data){
      for (let i in data){
        if (!data[i]){
          len--;
        }
      }
      return len==0?true:false;
    }else {
      return false;
    }
  }

  //提交数据
  $("#save").click(function () {
    var postDate = {
      id:$("input[name='id']").val(),
      name:$("input[name='name']").val(),
      phone:$("input[name='phone']").val(),
      question:$("input[name='question']").val(),
      answer:$("input[name='answer']").val(),
      time:$("input[name='time']").val(),
      channel: $("#channel").val(),
      description: $("input[name='description']").val(),
      progress: $("input[name='progress']").val(),
      kfName: $("input[name='kfName']").val()
    };

    if (validate(postDate)){
      alert("提交信息不能为空");
      return;
    }

    $.ajax({
      dataType: 'json',
      url: '/note/_save',
      type: 'POST',
      data: postDate,
      success: function(data) {
        alert("保存成功");
        location.reload();
      },
      error: function() {
        alert("保存失败");
      }
    });
  });
</script>
</html>