<!doctype html>
<html>
<head>
  <meta http-equiv="content-type" content="text/html;charset=utf-8">
  <title>记事本</title>
  <script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
</head>
<body>
<table border="1">
  <tr>
    <th>访客ID</th>
    <th>访客姓名</th>
    <th>联系方式</th>
    <th>反馈问题</th>
    <th>解决方案</th>
    <th>提交时间</th>
    <th>操作</th>
  </tr>
  <tr for(note in data.noteList)>
    <td>${note.id}</td>
    <td>${note.name}</td>
    <td>${note.phone}</td>
    <td>${note.question}</td>
    <td>${note.answer}</td>
    <td>${note.time}</td>
    <td>
      <button disabled>保存</button>
    </td>
  </tr>
  <tr>
    <form onsubmit="return false">
      <td><input type="text" name="id" value="${data.noteList.length + 1}" disabled></td>
      <td><input type="text" name="name" value=""></td>
      <td><input type="text" name="phone" value=""></td>
      <td><input type="text" name="question" value=""></td>
      <td><input type="text" name="answer" value=""></td>
      <td><input type="text" name="time" value="默认当前时间" disabled></td>
      <td>
        <button id="save">保存</button>
      </td>
    </form>
  </tr>
</table>
<!--<a href="/20170907.txt" download="20170907.txt">下载</a>-->
<button id="exportExcel">下载</button>
</body>
<script type="text/javascript">
  $("#exportExcel").click(function(){
    console.info("exportExcel");
    var url =  "/note/download";
    console.info(url);
    window.location = url;//这里不能使用get方法跳转，否则下载不成功

  });
  $("#save").click(function () {
    var postDate = {
      id:$("input[name='id']").val(),
      name:$("input[name='name']").val(),
      phone:$("input[name='phone']").val(),
      question:$("input[name='question']").val(),
      answer:$("input[name='answer']").val(),
      time:$("input[name='time']").val()
    };
    console.log(postDate);
    $.ajax({
      dataType: 'json',
      url: '/note/_save',
      type: 'POST',
      data: postDate,
      success: function(data) {
        alert("保存成功");
        location.reload();
      },
      error: function() {
        alert("保存失败");
      }
    });
  });
</script>
</html>